<div class="checkout-container">
  <div class="progress-container">
    <nz-progress
      [nzPercent]="getProgressPrecent()"
      [nzShowInfo]="false"
      [nzStrokeWidth]="3"
    ></nz-progress>
  </div>

  <!-- FIRST STEP -->
  <div *ngIf="currentStep === 1">
    <div class="billing-container">
      <h2>Dirección de envio</h2>
      <form>
        <div
          class="input-container"
          *ngFor="let field of billingAddress; index as i"
        >
          <label for="">{{ field.name }}</label>
          <input
            nz-input
            [type]="field.type"
            [name]="field.name"
            [placeholder]="field.placeholder"
            [(value)]="field.value"
            [(ngModel)]="field.value"
          />
        </div>
      </form>
      <button
        nz-button
        (click)="submitBilling()"
      >
        Continue
      </button>
    </div>
  </div>
  <!-- SECOND STEP -->
  <div *ngIf="currentStep === 2">
    <div class="payment-container">
      <h2>Detalles de pago</h2>
      <form>
        <div class="input-container">
          <label for="">Numero de tarjeta</label>
          <input
            nz-input
            type="text"
            name="cardNumber"
            [(value)]="cardNumber"
            [(ngModel)]="cardNumber"
            placeholder="1234 1234 1234 1234"
          />
        </div>
        <div class="input-container">
          <label for="">Nombre del propietario</label>
          <input
            nz-input
            type="text"
            name="cardName"
            [(value)]="cardName"
            [(ngModel)]="cardName"
            placeholder="John Doe"
          />
        </div>
        <div class="‼️">
          <div class="input-container">
            <label for="">Fecha de caducidad</label>
            <input
              nz-input
              type="text"
              name="cardExpiry"
              [(value)]="cardExpiry"
              [(ngModel)]="cardExpiry"
              placeholder="06/30"
            />
          </div>
          <div class="input-container">
            <label for="">Codigo de seguridad</label>
            <input
              nz-input
              type="text"
              name="cardCode"
              [(value)]="cardCode"
              [(ngModel)]="cardCode"
              placeholder="123"
            />
          </div>
        </div>
      </form>
      <button
        nz-button
        [disabled]="!canPaymentSubmit()"
        (click)="submitPayment()"
      >
        Continuar
      </button>
    </div>
  </div>
  <!-- THIRD STEP -->
  <div *ngIf="currentStep === 3">
    <div class="summary-container">
      <div class="summary-container__order">
        <h2>Resumen de la Orden</h2>
        <div class="details">
          <div><span>Item(s)</span> {{ lista.length }}</div>
          <div><span>Metodo de pago</span> Tarjeta de debito</div>
          <div>
          <span>Order total</span> {{ cartData.total | currency: "USD" }}
          </div>
        </div>
        <button
          nz-button
          nzType="primary"
          (click)="submitCheckout()"
          [nzLoading]="loading"
        >
          Place order
        </button>
      </div>
      <div class="summary-container__items">
        <h2>Order Items</h2>
        <div class="item-list">
          <div class="item-container" *ngFor="let item of lista">
            <div class="item-image">
              <img [src]="item.producto.fileList" alt="" />
            </div>
            <div class="item-title">
              {{ item.producto.nombre }}
            </div>
            <div class="item-total">
              {{ item.producto.precio | currency: "USD" }} x {{ item.cantidad }} =
              {{ item.cantidad * item.producto.precio | currency: "USD" }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- LAST STEP - THANK YOU -->
  <div *ngIf="currentStep === 4">
    <div class="confirmation-container">
      <header>
        <div class="title">
          <h1>Gracias por tu compra!</h1>
          <p>Por favor revise su correo electrónico para la confirmación del pedido</p>
        </div>
        <div class="order-id">
          Order ID: <span>{{ orderId }}</span>
        </div>
      </header>
      <button nz-button class="cta-button" routerLink="/">
        Continuar comprando
      </button>
      <div class="products-container">
        <h2>Resumen de la orden</h2>
        <div class="products-container__list">
          <div class="list-item" *ngFor="let item of lista">
            <div class="item-image">
              <img [src]="item.producto.fileList" alt="" />
            </div>
            <div class="item-title">
              {{ item.producto.nombre }}
            </div>
            <div class="item-total">
              {{ item.producto.precio | currency: "USD" }} x {{ item.quantity }} =
              {{ item.cantidad * item.producto.precio | currency: "USD" }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
