$color_1: #fff;
$color_2: #212529;
$color_3: red;
$background-color_1: #fff;

.container-xl {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
	padding: 0px;
	margin-top: 0;

	.table-responsive {
		margin: 30px 0;
		.table-wrapper {
			background: #fff;
			padding: 20px 25px;
			border-radius: 3px;
			box-shadow: 0 1px 1px #000;
			.table-title {
				padding-bottom: 15px;
				background: #64437d;
				color: $color_1;
				padding: 16px 30px;
				min-width: 100%;
				margin: -20px -25px 10px;
				border-radius: 3px 3px 0 0;
				.back {
					float: right;
					text-transform: uppercase;
					font-size: 13px !important;
				}
			}
			.table-footer {
				padding-top: 10px;
				text-align: center;
				.btn {
					color: $color_1;
					width: 100px;
					border-radius: 2px;
					font-size: 15px !important;
					text-transform: uppercase;
				}
			}
			.table-content {
				select {
					width: 100%;
					padding: 0.375rem 0.75rem;
					font-size: 1rem;
					font-weight: 400;
					line-height: 1.5;
					color: $color_2;
					background-color: $background-color_1;
					background-clip: padding-box;
					border: 1px solid #ced4da;
				}
				.p-10 {
					padding: 10px;
				}
				.p-t-b-10 {
					padding: 10px 0px;
				}
				.requiredStar {
					color: $color_3;
					padding-left: 5px;
				}
			}
		}
	}
}
.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}