
<div class="order-history-container">
    <h2>Pedidos pendientes</h2>
<nz-table #basicTable [nzData]="ordenes">
    <thead>
      <tr>
        <th>Id orden</th>
        <th>Numero factura</th>
        <th>Total</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.id_orden }}</td>
        <td>{{ data.numero_factura }}</td>
        <td>{{ data.total }}</td>
        <td>
            <button nz-button [nzType]="'primary'" (click)="showModal(odenesDetallesCompras(data.id_orden))"><span>Ver Pedido</span></button>


        </td>
      </tr>
    </tbody>
    
  </nz-table>

  <nz-modal [(nzVisible)]="isVisible" nzTitle="Resumen de la Compra" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
      <div class="products-container">
        <div class="products-container__list">
          <div class="list-item" *ngFor="let item of ordenesDetalles">
            <div class="item-image">
              <img [src]="item.producto.fileList" alt="" />
            </div>
            <div class="item-title">
              {{ item.producto.nombre }}
            </div>
            <div class="item-total">
              {{ item.producto.precio | currency: "USD" }} x {{ item.quantity }} =
              {{ item.cantidad * item.producto.precio | currency: "USD" }}
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </nz-modal>
</div>
